<div class="logged_in_nav">
  <div class="flex">
      <div>
        <%= image_tag("workos-logo-with-text.png", :alt => "WorkOS Logo") %>      </div>
  </div>
  <div>
      <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
      <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
              Reference</button></a>
      <a href="https://workos.com/blog" target="_blank"><button
              class='button nav-item blog-nav-button'>Blog</button></a>
      <a href="https://workos.com/" target="_blank"><button class='button button-outline'>WorkOS</button></a>
  </div>
  </div>
    <div class='flex'>
        <div class="logged_in_div_right">
<div class="container mt-5">
   <div class="col-md-10 ml-auto col-xl-6 mr-auto">
      <!-- Tabs with Background on Card -->
      <div class="card cw-425">
        <div class="card-header">
          <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
            <li class="tab-item ">
              <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Password</a>
            </li>
            <li class="tab-item">
              <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">SSO</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <!-- Tab panes -->
          <div class="tab-content text-center">
            <div class="tab-pane active" id="home1" role="tabpanel">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                </div>

                <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
                </div>

                <% if devise_mapping.rememberable? %>
                <div class="form-group">
                    <%= f.check_box :remember_me, class: 'm-2' %>
                    <%= f.label :remember_me %>
                </div>
                <% end %>
             <% end %>
            <hr>
            <%= render "users/shared/links" %>
            </div>           
            <div class="tab-pane" id="profile1" role="tabpanel">
                <%= form_with url: sso_new_path, method: :get, local: true do |f| %>
            
                    <hr style="width:100%; margin-top: 15px; margin-bottom: 20px;">                    
                    <button id="Google" name="login_method" value="GoogleOAuth" class="card login_button google_button">
                        <span>Google OAuth</span>
                    </button>
                    <button id="Microsoft" name="login_method" value="MicrosoftOAuth" class="card login_button microsoft_button">
                        <span>Microsoft OAuth</span>
                    </button>
                    <button id="SAML" name="login_method" value="saml" class="card login_button saml_button mb-0">
                        <span>Enterprise SAML</span>
                    </button>
                 <% end %>
                </div>    
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Tabs on plain Card -->
    </div>
  </div>
</div>