<html>
  <div class="logged_in_div_right">
      <div class="flex_column">
          <h2><%= @group.name %> Group Users</h2>
          <% if @group_users.any?%>
            <div class="table-container">
              <table>
                  <thead>
                      <tr>
                          <th class="ta-left">Name</th>
                          <th class="ta-left">Email</th>                          
                          <th class="ta-left">Details</th>
                      </tr>
                  </thead>
                  <tbody>
                  <% @group_users.each do |user| %>
                      <tr>
                          <td class="ta-left"><%= user.first_name %> <%= user.last_name %></td>
                          <td class="ta-left"><%= user.username %></td>                          
                          <td><a class="button button-outline width-95" href="/users/<%= user.id %>"><img src="<%= url("images/settings-2.svg")%>" class="icon" alt="workos logo"></a></td>
                          
                      </tr>
                  <% end %>
                  </tbody>
              </table>
            </div>
          <%else%>
            <p>There are no users in this group.</p>
          <% end %>
      </div> 
  </div>
</html>


