<html>

    <div class="logged_in_div_right">
        <div class="flex_column">
            <h2><%=@user.username%> Profile</h2>
            <div class="text_box">
                <ul class="no-bullets">
                    <code class="prettyprint">
                        <%@user.each do |key, value|%>
                        <li><%=key%>: <%=value%></li>
                        <%end%>
                    </code>
                </ul>
            </div>
            <h2><%=@user.username%>'s' Groups</h2>
            <div class="text_box">
                <ul>
                <ul>
                    <% @user_groups.each do |group| %>
                    <li>
                        <a href="/groups/<%= group.id %>">
                        <%= group.name %>
                        </a>
                    </li>
                    <% end %>
                </ul>
                </ul>
            </div>
        </div>
    </div>  
</html>
