<div class="flex_column">
          <div class="flex">
            <div class="flex-column">
                <h2>Factor Details</h2>
                <table>
                    <tr>
                    <td class="ta-left">ID:</td>
                    <td><code><%= @factor.id %></code></td>
                    </tr>
                    <tr>
                    <td class="ta-left">Type:</td>
                    <td><code><%= @factor.type %></code></td>
                    </tr>
                    <tr>
                    <td class="ta-left">Phone Number:</td>
                    <td><code><%= @phone_number %></code></td>
                    </tr>
                    <tr>
                    <td class="ta-left">Created At:</td>
                    <td><code><%= @factor.created_at %></code></td>
                    </tr>
                    <tr>
                    <td class="ta-left">Updated At:</td>
                    <td><code><%= @factor.updated_at %></code></td>
                    </tr>
                </table>
            </div>
          </div>

          <div class="flex">
            <div>
              <form method="POST" action="/challenge_factor">
                <% if @factor.type == 'sms' %>
                <div class="flex width-587px space-between">
                  <div>
                    <input
                      type="text"
                      class="text_input width-350px"
                      id="sms_message"
                      name="sms_message"
                      class="text_input"
                      placeholder="Custom SMS Message Input {{code}}"
                    />
                  </div>
                  <div>
                    <button type="submit" class="button width-175px">
                      Challenge Factor
                    </button>
                  </div>
                </div>
                <% else %>
                <div class="flex width-587px">
                  <button type="submit" class="button width-175px">
                    Challenge Factor
                  </button>
                </div>
                <% end %>
              </form>
            </div>
          </div>
        </div>