
<div class="flex_column">
    <div class="flex">
        <div class="flex-column">
            <div>
                <h2>ID: <%=@factor.id%></h2>
            </div>
            <div>
                <p>Type: <code><%=@factor.type%></code></p>
                <% if @factor.type == 'sms' %>
                    <p>Phone Number: <code><%=@phone_number%></code></p>
                <% end %>
                <p>Created At: <code><%=@factor.created_at%></code></p>
                <p>Updated At: <code><%=@factor.updated_at%></code></p>
            </div>
        </div>
    </div>

    <div class="flex-column">
        <div>
            <form method="POST" action="/challenge_factor">
                <div class='flex_column'>
                    <% if @factor.type == 'sms' %>
                    <div>
                        <input type="text" id="sms_message" name="sms_message" class="text_input"
                            placeholder="Custom SMS Message Input and include {{code}}">
                    </div>
                    <% end %>
                    <div>
                        <button type="submit" class="button">Challenge Factor</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>